@page "/passwordchange"
@using eLearn360.UI.Shared.Component


<div class="container my-5">
    @if (_isLoading)
    {
        <Loader />
    }
    else
    {
        <EditForm Model="@Password" OnValidSubmit="@HandleValidRequest">
            <span class="col title">Modifier un mot de passe</span>

            <div class="form-group row">
                <label for="inputOldPassword" class="col-md-4 col-form-label text-end">Ancien mot de passe</label>
                <div class="col-md-4">
                    <InputText class="form-control" @bind-Value="@Password.OldPassword" id="inputOldPassword" placeholder="Ancien mot de passe"></InputText>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputNewPassword" class="col-md-4 col-form-label text-end">Nouveau mot de passe</label>
                <div class="col-md-4">
                    <InputText class="form-control" @bind-Value="@Password.NewPassword" id="inputNewPassword" placeholder="Mot de passe"></InputText>
                    <ValidationMessage For="@(() => @Password.NewPassword)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="inputConfirmPassword" class="col-md-4 col-form-label text-end">Confirmer nouveau mot de passe</label>
                <div class="col-md-4">
                    <InputText class="form-control" @bind-Value="@Password.ConfirmPassword" id="inputConfirmPassword" placeholder="Confirmer nouveau mot de passe"></InputText>
                    <ValidationMessage For="@(() => @Password.ConfirmPassword)" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-global">Modifier</button>
                    <a href="profileoverview" class="btn btn-global-outline">Retour</a>
                </div>
            </div>

            <DataAnnotationsValidator />
        </EditForm>
    }

</div>